:root {
    --primary-color: #0C5B08; /* Your brand's main green */
    --secondary-color: #208f14;  /* Softer green */
    --brown-color: #945a2b;  /* Softer green */

}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
    background-color: #F5F5F5;
    color: #333;
    padding-top: 75px;
}

main {
  flex: 1;
}

section {
  scroll-margin-top: 75px; /* Ajusta según la altura de tu navbar */
}

/* Personalizacion de colores de los titulos */
.green-titles{
    color:var(--primary-color) !important;
}
.light-green-titles{
    color:var(--secondary-color) !important;
}
.brown-titles{
    color:var(--brown-color) !important;
}


/* NAVBAR */
.navbar .nav-link {
  color: var(--primary-color) !important; /* tu verde de marca */

}

.navbar .nav-link.active {
  color: white !important;
  background-color: var(--primary-color);
  border-radius: 0.375rem; /* como btns redondeados */
}

.navbar .nav-link:hover {
  color: white !important;
  background-color: var(--primary-color) !important;
  border-radius: 0.375rem;
}

.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(24%) sepia(91%) saturate(432%) hue-rotate(74deg) brightness(95%) contrast(90%);
}

#mainNav {
  transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

#mainNav.hidden {
  transform: translateY(-110%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  box-shadow: none;
}
#mainNav {
  will-change: transform, opacity;
  transition: transform 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
}

/* HERO */
.btn-cocos {
  background-color: #208f14;
  color: white;
  border: none;
}

.btn-cocos:hover {
  background-color: #0C5B08;
  color: white;
}

.btn-cocos-outline {
  border: 2px solid #208f14;
  color: white;
  background-color: transparent;
}

.btn-cocos-outline:hover {
  background-color: #208f14;
  color: white;
}

#hero-text {
  margin-top: 0 !important;
}
